body {
  background-color: #b2ebf2;
}

h1 {
  font-size: 400%;
}

#heading {
  font-family: 'Antic Slab', serif;
  text-align: center;
}

#heading p {
  font-size: 200%;
  font-family: 'Antic Slab', serif;
  text-align: center;
}

p {
  font-family: 'Averia Serif Libre', cursive;
  text-align: justify;
}

a {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 150%;
  text-decoration: none;
  text-align: center;
  color: #4db6ac;
  text-transform: capitalize;
}

.container {

}

ul {
  list-style-type: none;
  margin: auto;
  width: 50%;
  text-align: center;
}

li {
  border: solid, 2px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

img {
  margin: auto;
  width: 65%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
}
